

# Jupyter notebooks and python

## Jupyter notebook basics

This document is a Jupyter notebook that I wrote to be a kind of scratchpad to accompany the first few pages of <a href="http://www.oreilly.com/programming/free/a-whirlwind-tour-of-python.csp">A Whirlwind Tour of Python</a> by Jake VanderPlas.</li>

First, a few things about how to use Jupyter notebooks.  This notebook is comprised of a number of cells.  There are two types of cells: <em>markdown</em> and <em>code</em>.  The markdown cells are documentation that may include formatted text, hyperlinks, and pictures---a lot like a webpage, but with better mathematics formatting.  This cell, for example is a markdown cell, and you can see that we can put well formatted mathematics here:  

$$\int_{-\infty}^{+\infty} e^\frac{-x^2}{2}dx=\sqrt{\pi}.$$
If you want to edit a markdown cell, select it by double clicking. This makes the commands used to create the cell visible.  You can edit the cell in this mode, and press SHIFT-Return to present the markdown cell again.

Code cells contain bits of executable python programs and can be executed by selecting that cell and pressing SHIFT-Return, or by using the play button on the menubar. Code cells are indicated in the left margin by "In [ ]:" For example, the next cell is a code cell. When you exectute it, it should produce the output on the line below the cell, indicated in the left margin by a matching "Out [ ]:"

In [1]:
2+2

4

It's not difficult to write Jupyter notebooks and to format mathematics---you'll learn how.  But for now, see if you can use this notebook to get familiar with the basics of python.

Try selecting the code cell above, then change the code from 2+2 to something else, like 2+3, and execute it with SHIFT-Return.

## Python basics

Spend some time working through the following sections of the book.

<ul>
    <li>A Quick Tour of Python Language Syntax p7</li>
    <li>Basic Python Semantics: Variables and Objects p13 </li>
    <li>Basic Python Semantics: Operators p17</li>
</ul>

Here, I've typed in the code from page 8 of the <a href="http://www.oreilly.com/programming/free/a-whirlwind-tour-of-python.csp">A Whirlwind Tour of Python</a>.  As a code cell, you can execute the code by pressing SHIFT-Return.

In [2]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
print("lower:", lower)
print("upper:", upper)

('lower:', [0, 1, 2, 3, 4])
('upper:', [5, 6, 7, 8, 9])

Try editing the cell above and executing it again.  Maybe change the midpoint or the range and see what happens to the output.

And here are a few more snipets that you can play with.  Feel free to change these cells, add new cells, whatever ind of scratchpad you need while you work through the beginning of the book.

In [3]:
# a single line of code can be put on multiple lines if you use pararentheses 
x=(1+2+3+4+
   5+6+7+8)

# and multiple lines can be put on the same line if seperated by a semicolon
print(x); print(x+1); print(2*x)

36
37
72

In [4]:
# you may have noticed that indexing starts with 0, not 1
mylist=range(10)
print(mylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# you can loop through a list.  Indentation is important!

for i in mylist:
    print 100-i

100
99
98
97
96
95
94
93
92
91

And here's the bit of code on pages 14 and 15 that illustrates how variables are treated, which can be confusing at first.

In [6]:
x=1

In [7]:
print(x)

1

In [8]:
x='hello'

In [9]:
print(x)

hello

In [10]:
x=[1,2,3]
y=x
print(y)

[1, 2, 3]

In [11]:
x.append(4)

In [12]:
print(x)

[1, 2, 3, 4]

In [13]:
print(y)

[1, 2, 3, 4]

In [14]:
x='something else'

In [15]:
print(x)

something else

In [16]:
print(y)

[1, 2, 3, 4]

In [17]:
type(x)

str

In [18]:
type(y)

list

There's a difference between division for integers and floating point numbers

In [19]:
11/2

5

In [20]:
11/2.

5.5

And there's a difference between equality and identity

In [21]:
x=[1,5,10]
y=[1,5,10]
x==y

True

In [22]:
x is y

False

In [23]:
z=x

In [24]:
x is z

True

In [25]:
x.append(20)

In [26]:
print(x)

[1, 5, 10, 20]

In [27]:
print(z)

[1, 5, 10, 20]

## Exercises

1. Write a program to add the numbers from 1 to 100.
2. Write a program that makes a list of even numbers from 1 to 100.
3. Remove the number 8 from the list you created in exercise 2.

In [18]:
def add_num_from_left_up_to_right(left_bound , right_bound):
    sum = 0
    for num in range(left_bound,right_bound+1):
        sum += num
    return sum

In [19]:
add_num_from_left_up_to_right(1,100)

5050

In [20]:
import numpy as np
def create_